.storeList{
  margin-top: 10%;
}

a.ingredientName {
    display: block;
}

a.ingredientName:first-letter {
    text-transform: capitalize
}

.mainIngredient P::first-letter{
    text-transform: uppercase;
}

.App {
  height: 100%;
  text-align: center;
  background-image: url('../assets/images/bgimg.png');
  background-size: cover;
}

.ui.card:last-child {
    margin-bottom: 0;
    margin-top: 1%;
}

.ui.table:not(.unstackable) tr>th {
    width: auto!important;
    display: relative!important;
}


/* Mobile */
@media (max-width: 640px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 12%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 100%;
  }
  .ui.table:not(.unstackable) tr>th {
      width: 5%!important;
      display: relative!important;
  }
  .ui.icon.message {
      display: block;
    }
}

/*Nexus*/
@media (max-width: 767px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 25%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 100%;
  }
  .ui.table:not(.unstackable) tr>th {
      width: auto!important;
  }
  .ui.icon.message {
      display: block;
    }
    .ui.table:not(.unstackable) tr>th {
        width: 5%!important;
        display: relative!important;
    }
}


/* Tablet / iPad Portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 60%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 100%;
  }
  .ui.table:not(.unstackable) tr>th {
      width: auto!important;
  }
  .ui.icon.message {
      display: block;
    }
    .ui.table:not(.unstackable) tr>th {
        width: 5%!important;
        display: relative!important;
    }
}

/* Computer / Desktop / iPad Landscape*/
@media (min-width: 992px) and (max-width: 1199px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 69%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 50%;
  }
  .ui.icon.message {
      display: flex;
    }
    .ui.table:not(.unstackable) tr>th {
        width: auto!important;
    }
}

/* Large Monitor*/
@media (min-width: 1200px) and (max-width: 1919px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 75%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 50%;
  }
  .ui.icon.message {
      display: flex;
    }
    .ui.table:not(.unstackable) tr>th {
        width: auto!important;
    }
}

/* Widescreen Monitor*/
@media (min-width: 1920px) {
  .ui.card, .ui.cards>.card {
      max-width: 100%;
      background: #FFF;
      padding: 0;
      border: 4px solid #e78c6f;
      border-radius: .28571429rem;
      margin-top: 2%;
      border:'2px solid #e78c6f';
      background-color: #333F50;
      margin-left: 75%;
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 50%;
  }
  .ui.icon.message {
      display: flex;
    }
  .ui.table:not(.unstackable) tr>th {
      width: auto!important;
  }
}

.ingredientsGrid{
  padding-left: 3%;
  font-family: "Poor Richard";
  font-size: 20px;
  width:100%;
}
.procedureGrid{
  padding-left: 3%;
  font-family: "Poor Richard";
  font-size: 20px;
  width:100%;
}

.done{
  height: 100%;
  text-align: center;
  background-image: url('../assets/images/bgimg.png');
  background-size: cover;
}

.Ingredients{
  height: 100%;
  background-image: url('../assets/images/bgimg.png');
  background-size: cover;
}

.abc{
  width:50%;
  margin-left:25%;
  margin-right:50%;
  background-color:#d1cfcf;
  margin-top:7%;
  border-radius:20px;
}

.anchor{
  color:#FBE5D6;
}
.menu{
  font-weight: bolder !important;
  font-size: 120%
}

a:hover{
  text-decoration: underline;
}

.ui.form select{
  width:75%;
  background-color: #CCE2FF;
  border:'2px solid black';
  margin-left:12%;
}

.urlInput{
  width:75%;
  background-color: #CCE2FF;
  border:'2px solid black';
  cursor: pointer;
}
.ui.tabular.menu .active.item{
  color:#FBE5D6;
  background-color: #333F50;
  border-left: 3px solid #e78c6f;
  border-top: 3px solid #e78c6f;
  border-right: 3px solid #e78c6f;
}
.ui.tabular.menu .item{
  font-family: "Poor Richard";
  font-weight: bolder;
  font-size: 18px;
  color: #333F50;

}
.ui.checkbox input.hidden+label{
  color:#FBE5D6;
}

{/*}.ui.radio.checkbox input:checked~.box:after, .ui.radio.checkbox input:checked~label:after {
    background-color: black;
    color:black;
    background: black;
  }
  .ui.radio.checkbox input:checked~.box:before, .ui.radio.checkbox input:checked~label:before {
      background-color: black;
      color:black;
      background: black;
    }

.ui.checkbox .box:after, .ui.checkbox label:after {
    background: black;
    background-color: black;
    color:black;
    border-radius: .21428571rem;
  }*/}

  /* Radio Checkbox */
.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
  background-color: black;
}

/* Focus */
.ui.radio.checkbox input:focus ~ .box:before,
.ui.radio.checkbox input:focus ~ label:before {
  background-color: black;
}
.ui.radio.checkbox input:focus ~ .box:after,
.ui.radio.checkbox input:focus ~ label:after {
  background-color: black;
}

/* Indeterminate */
.ui.radio.checkbox input:indeterminate ~ .box:after,
.ui.radio.checkbox input:indeterminate ~ label:after {
  opacity: 0;
}

/* Active */
.ui.radio.checkbox input:checked ~ .box:before,
.ui.radio.checkbox input:checked ~ label:before {
  background-color: black;
}
.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: black;
}

/* Active Focus */
.ui.radio.checkbox input:focus:checked ~ .box:before,
.ui.radio.checkbox input:focus:checked ~ label:before {
  background-color: black;
}
.ui.radio.checkbox input:focus:checked ~ .box:after,
.ui.radio.checkbox input:focus:checked ~ label:after {
  background-color: black;
}
